.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  gap: 10px;
  opacity: 1;
  transition: 1s;
}
.modal-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.modal-container form label {
  color: black;
  font-size: small;
}
.modal-container form input {
  outline: none;
  text-align: center;
  padding: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.modal-container form .button-container {
  position: absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.modal-container form .button-container button {
  border: none;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  color: orange;
  background: linear-gradient(to right, orange 50%, rgb(255, 255, 255) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: 0.15s;
}
.modal-container form .button-container button:hover {
  color: white;
  background-position: left;
  transition: 0.15s;
}

.modal-container-hide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  gap: 10px;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
.modal-container-hide form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.modal-container-hide form label {
  color: black;
  font-size: small;
}
.modal-container-hide form input {
  outline: none;
  text-align: center;
  padding: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.modal-container-hide form .button-container {
  position: absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.modal-container-hide form .button-container button {
  border: none;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  color: orange;
  background: linear-gradient(to right, orange 50%, rgb(255, 255, 255) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: 0.15s;
}
.modal-container-hide form .button-container button:hover {
  color: white;
  background-position: left;
  transition: 0.15s;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.1s;
}

.ReactModal__Content {
  color: orange;
  outline: none;
  position: absolute;
  left: auto;
  background: #fff;
  padding: 20px;
  background-color: white;
  box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: 0.5s;
}
.ReactModal__Content svg {
  position: absolute;
  top: 8%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  z-index: -1;
  opacity: 1;
  transition: 0.5s;
}
.ReactModal__Content svg + div {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  visibility: hidden;
}

.overlayIsOpen {
  width: 100vw;
}

.overlayIsClose {
  width: 0px;
  transition: 0.3s;
}

.isOpen2 {
  width: 300px;
  height: 300px;
  bottom: 10px;
  right: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.isClose2 {
  width: 70px;
  height: 70px;
  box-shadow: none;
  bottom: 10px;
  right: 10px;
  top: calc(100vh - 100px);
  left: calc(100vw - 100px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.isClose2 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  z-index: 1;
  opacity: 1;
}
.isClose2 svg:hover + div {
  visibility: visible;
}/*# sourceMappingURL=Lobby.css.map */